html,
body {
  padding: 0;
  margin: 0;
  background-color: #2a0d45;
  min-width: 300px;
  width: auto !important;
  width: 300px;
}

* {
  box-sizing: border-box;
}

main {
  padding: 0.5rem;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
}

.content-wrapper {
  background-color: white;
  padding: 0.5rem;
}

#site-nav {
  grid-area: snav;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  box-shadow: 0px 0px 0px 0.5em #2a0d45;
  background-color: #2a0d45;
  margin-top: 0.3rem;
}

#site-nav > a,
.nst-search-button {
  text-align: center;
  font-weight: bold;
  border: 0;
  color: #e0f7ff;
  box-shadow: inset 2px 2px 3px rgb(255 255 255 / 60%),
    inset -2px -2px 3px rgb(0 0 0 / 60%);
  border-radius: 0.5rem;
  background-color: #2a0d45;
  background-image: linear-gradient(#7e6496, #2a0d45);
}
#site-nav > a {
  padding: 0.5em;
  flex: 1;
}
.nst-search-button:hover,
#site-nav > a:hover {
  background-image: none;
  background-color: #7e6496;
  text-decoration: underline;
}
.nlink {
  text-decoration: none;
  color: inherit;
}

.blur {
  background: linear-gradient(#2a0d45, transparent);
}

#nst-head {
  display: grid;
  grid-template:
    "logo gnav" auto
    "logo search" 2rem
    "snav snav" auto / 168px minmax(0, 1fr);
  gap: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #2a0d45;
  color: #e0f7ff;
}

#menu-open,
#menu-close {
  color: inherit;
  display: none;
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 1;
}

#nst-logo {
  grid-area: logo;
  justify-self: left;
  display: flex;
  align-items: flex-end;
  height: 90px;
}

#nst-gnav {
  grid-area: gnav;
  height: 0px;
  visibility: hidden;
  display: grid;
  grid-template-columns: repeat(4, min-content);
  justify-items: right;
  justify-content: right;
  gap: 0.5rem 1rem;
}

.nst-search {
  display: flex;
  gap: 0.2em;
  width: 100% !important;
  height: 2em;
}
.nst-search-q {
  flex: 1;
  width: 0px;
}
#nst-head-search {
  grid-area: search;
}

.purpleheader {
  font-size: large;
  padding: 0;
  color: white;
  background: #2a0d45;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 140%;
  text-align: center;
  clear: both;
  border-radius: 7px;
}

.pbbox {
  border: 1px solid #2a0d45;
  background: #f5f1f9;
  font-size: larger;
  font-weight: bold;
  padding: 1rem;
  width: fit-content;
  clear: both;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (max-width: 450px) {
  #nst-head,
  #nst-sitenav,
  #nst-gnav {
    gap: 1rem;
  }

  .main {
    width: 100% !important;
  }
}

@media screen and (max-width: 450px) {
  #nst-head {
    grid-template:
      "logo" 90px
      "search" 2rem
      "snav" auto
      "gnav" auto;
    justify-items: center;
    padding-bottom: 1rem;
  }
}
.flexlists {
  font-size: small;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: 1rem;
  color: white;
  background-color: #2a0d45;
  padding: 2%;
}
#nst-foot-search {
  margin: 1rem 0px;
}
